{
    "plugins": ["@serverless-guru/prettier-plugin-import-order"],
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "importOrder": ["<THIRD_PARTY_MODULES>", "^@/", "^[./]"],
    "importOrderSeparation": true,
    "importOrderTypeImportsToTop": true,
    "importOrderBuiltinModulesToTop": true,
    "importOrderParserPlugins": ["typescript"],
    "importOrderMergeDuplicateImports": true,
    "importOrderSortIndividualImports": true
}
